* {
    font-family: Verdana, geneva, tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.header-logo logo-img {
    width: 30px;
    height: auto;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    width: 100%;
    color: white;
    padding: 20px;
    background: #151c39e8;
    box-sizing: border-box;
}

.menu-item {
    list-style: none;
}

.menu-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

}

.banner-section {
    padding: 100px 0;
    background: url(фон.jpg);
    background-size: cover;
    background-position: center;
}

.banner-title {
    font-size: 50px;
    color: white;
    text-align: center;
}

.banner-description {
    text-align: center;
    color: white;

}

.cards-section {
    padding: 50p 0;

}

.card {
    padding: 25px;
    margin-top: 25px;
    width: 25px;
    background: white;
    box-shadow: 0px 2px 7px 0px #9e90ff;
    text-align: center;
}